html {
  width: 100%;
  overflow-x: hidden; }

body {
  width: 100%;
  background: black; }
  body .top_section {
    display: inline-block;
    width: 100%; }
    body .top_section .bg {
      display: inline-block;
      position: relative;
      top: 0;
      width: 100%;
      z-index: -1; }
      body .top_section .bg img {
        position: relative;
        width: 100%;
        height: auto;
        top: -100px; }
    body .top_section .title_information {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 70vh;
      color: white; }
      body .top_section .title_information h1 {
        text-transform: uppercase;
        position: relative;
        font-family: 'Raleway', sans-serif !important;
        font-weight: 900;
        font-size: 10rem;
        letter-spacing: 10px;
        text-shadow: 0px 0px 30px black;
        margin-bottom: 30px;
        opacity: 0;
        transition: transform 0.35s cubic-bezier(0.69, -0.56, 0.41, 1.6), opacity 0.5s;
        transform: translateY(-30px); }
      body .top_section .title_information .sub-title {
        width: 90%;
        max-width: 600px;
        font-weight: 800;
        font-size: 1.85rem;
        letter-spacing: .5px;
        font-family: 'Raleway', sans-serif !important;
        display: block;
        margin: 0 auto;
        line-height: 65px;
        color: rgba(242, 242, 242, 0.65);
        opacity: 0;
        transition: transform 0.35s cubic-bezier(0.69, -0.56, 0.41, 1.6), opacity 0.5s;
        transform: translateY(30px); }
  body content {
    position: relative;
    margin-top: -750px;
    margin-bottom: 100px;
    display: inline-block;
    width: 100%; }
    body content .clear {
      clear: both; }
    body content .section {
      display: block;
      width: 90%;
      margin: 0 auto; }
      body content .section.full {
        max-width: 1000px; }
        body content .section.full .video {
          display: inline-block;
          width: 100%; }
          body content .section.full .video iframe {
            width: 100%;
            display: inline-block;
            height: 450px; }
      body content .section.half {
        max-width: 1000px;
        clear: both; }
        body content .section.half .story_image {
          display: inline-block;
          width: 50%;
          float: left;
          margin-right: 25px; }
        body content .section.half .video {
          display: inline-block;
          width: 50%;
          float: left;
          margin-right: 25px; }
          body content .section.half .video iframe {
            width: 100%;
            display: inline-block;
            height: 300px; }
      body content .section.quarter {
        max-width: 1000px; }
        body content .section.quarter .inner {
          width: 25%;
          margin: 0 -3px;
          display: inline-block;
          vertical-align: top; }
          body content .section.quarter .inner .story_image {
            display: block;
            width: 95%;
            height: 140px;
            overflow: hidden; }
          body content .section.quarter .inner h2 {
            margin-bottom: 15px; }
          body content .section.quarter .inner h4 {
            height: 65px; }
            body content .section.quarter .inner h4 a {
              color: white;
              text-decoration: none; }
      body content .section .story_image {
        width: 100%;
        display: inline-block;
        border: 1px solid white;
        height: auto; }
        body content .section .story_image img {
          width: 100%;
          height: auto; }
      body content .section .video {
        border: 1px solid white; }
      body content .section h2 {
        font-family: 'Raleway', sans-serif !important;
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 28px;
        margin: 15px 0 15px 0; }
        body content .section h2 a {
          color: white;
          text-decoration: none; }
      body content .section h4 {
        font-family: 'Raleway', sans-serif !important;
        color: white;
        font-weight: 600;
        width: 90%;
        font-size: .8rem;
        line-height: 20px;
        letter-spacing: .5px; }
      body content .section p {
        font-family: Helvetica, Arial, 'sans-serif';
        color: white;
        font-size: .95rem;
        line-height: 26px; }
      body content .section .button {
        display: inline-block;
        padding: 15px 20px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color: black;
        background: white;
        font-size: .7rem;
        opacity: .5;
        text-decoration: none;
        transition: 0.2s cubic-bezier(0.69, -0.56, 0.41, 1.6);
        cursor: pointer; }
        body content .section .button:hover {
          opacity: 1;
          padding-right: 15px; }
          body content .section .button:hover:after {
            margin-left: 15px;
            opacity: 1; }
        body content .section .button:focus {
          opacity: 1;
          padding-right: 15px; }
          body content .section .button:focus:after {
            margin-left: 15px;
            opacity: 1; }
        body content .section .button:after {
          content: '>';
          display: inline-block;
          top: -1px;
          position: relative;
          left: 0px;
          opacity: 0;
          transition: 0.2s 0.1s cubic-bezier(0.69, -0.56, 0.41, 1.6); }
    body content .divider {
      display: inline-block;
      width: 100%;
      height: 50px;
      background: white;
      margin: 50px 0; }
      body content .divider#one {
        background: url(../img/thread1.png) no-repeat;
        background-size: 100%; }
      body content .divider#two {
        background: url(../img/thread2.png) no-repeat;
        background-size: 100%; }
      body content .divider#three {
        background: url(../img/thread3.png) no-repeat;
        background-size: 100%; }
      body content .divider#four {
        background: url(../img/thread4.png) no-repeat;
        background-size: 100%; }
      body content .divider#five {
        background: url(../img/thread5.png) no-repeat;
        background-size: 100%; }

.already-visible {
  opacity: 1 !important;
  transform: translateY(0) !important; }

.fadeIn {
  opacity: 1 !important;
  transform: translateY(0) !important; }
