html{
	padding: 0;
	margin: 0;
	display: block;
	width: 100vw;
}
body {
	width: 100%;
	color: black;
	overflow-x: hidden;
	background: white;
	padding: 0;
	margin: 0;
	nav{
		position: relative;
		z-index: 1;
		width: 90%;
		background: white;
		padding: 10px 5%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.site-branding{
			display: inline-block;
			width: 200px;
			img{
				width: 100%;
				height: auto;
			}
		}
		ul{
			display: inline-flex;
			align-self: flex-end;
			list-style: none;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 45%;
			li{
				display: inline-block;
				padding: 0 20px;
				a{
					text-transform: uppercase;
					color: black;
					text-decoration: none;
					font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
					font-weight: 500;
					font-size: 16pt;
				}
			}
		}
	}
	content{
		.section{
			display: flex;
			width: 100%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			min-height: 600px;
			.main{
				font-size: 75pt;
				color: black;
				line-height: 100px;
				font-family: 'abril_fatfaceregular';
				font-weight: 300;
				.top, .bottom{
					display: inline-block;
					position: relative;
					z-index: 1;
					&:before{
						content: '';
						width: 105%;
						height: 100px;
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						z-index: -1;
					}
				}
				.bottom{
					display: inline-block;
				}
			}
			p {
				font-size: 18pt;
				line-height: 30px;
				font-family: 'Didact Gothic', sans-serif;
				font-weight: 100;
				&.bold {
					font-weight: bold;
					font-family: 'gubiabold';
					text-transform: uppercase;
					font-size: 24pt;
					margin-bottom: 10px;
					text-indent: 0;
				}
			}
			&#banner{
				width: 100vw;
				height: 100vh;
				min-height: 750px;
				flex-direction: column;
				align-content: center;
				justify-content: space-around;
				.bg_image {
					display: inline-block;
					width: 100%;
					height: 100%;
					min-height: 800px;
					overflow: hidden;
					position: absolute;
					top: 15%;
					img {
						position: relative;
						top: -2.5%;
						display: inline-block;
						width: 100%;
						height: auto;
					}
				}
				.banner_text{
					position: relative;
					z-index: 1;
					width: 43%;
					.main{
						font-family: 'abril_fatfaceregular';
						font-weight: 300;
						.top, .bottom{
							padding-left: 50px;
						}
						.top{
							padding-left: 50px;
							margin-bottom: 40px;
							&:before{
								content: '';
								background: $main-color;
								top: 5px;
							}
						}
						.bottom{
							display: inline-block;
							&:before{
								content: '';
								background: $main-color;
								top: 5px;
							}
						}
					}
					.text{
						margin-top: 45px;
						padding-left: 50px;
						p{
							margin: 0 0;
							text-indent: 5px;
							&.bold{
								margin-bottom: 10px;
							}
						}
						.icons{
							display: flex;
							flex-direction: row;
							justify-content: space-around;
							margin-top: 60px;
							.icon{
								display: inline-flex;
								text-align: center;
								flex-direction: column;
								&:nth-of-type(1){
									.i_text{
										&:after{
											right: -12%;
										}
									}
								}
								&:nth-of-type(2){
									.i_text{
										&:after{
											right: -20%;
										}
									}
								}
								&:last-of-type{
									.i_text{
										&:after{
											display: none;
										}
									}
								}
								img{
									width: 100px;
									height: 100px;
									display: block;
									margin: 0 auto;
								}
								.i_text{
									font-family: 'Didact Gothic', sans-serif;
									font-weight: 100;
									flex-direction: column;
									flex-wrap: nowrap;
									display: inline-block;
									margin-top: 20px;
									&:after{
										content: '|';
										position: relative;
									}
								}
							}
						}
					}
				}
			}
			&#one{
				position: relative;
				width: 100vw;
				height: 50vh;
				min-height: 500px;
				flex-direction: column;
				align-content: center;
				justify-content: space-around;
				.inner {
					text-align: center;
					.main {
						text-align: center;
						.top {
							display: inline-block;
						}
						.bottom {
							display: inline-block;
						}
					}
					.text{
						position: relative;
						z-index: 1;
						width: 95%;
						max-width: 575px;
						display: block;
						margin: 50px auto 0;
					}
				}
			}

			&#five{
				position: relative;
				width: 100vw;
				height: 100vh;
				flex-direction: column;
				align-content: center;
				justify-content: space-around;
				background-image: url("../img/marble.png");
				background-repeat: no-repeat;
				background-size: 100% 100%;
				position: relative;
				.left {
					width: 50%;
					display: inline-block;
					.bottle{
						width: 200px;
						position: absolute;
						display: inline-block;
						top: 0;
						transform: rotate(60deg);
						img{
							width: 100%;
						}
					}
					.letter{
						width: 475px;
						display: inline-block;
						position: absolute;
						left: 10%;
						top: 22%;
						img{
							width: 100%;
						}
					}
				}
				.right{
					text-align: right;
					width: 50%;
					position: absolute;
					right: 0;
					.main{
						.top, .bottom{
							padding-right: 140px;
							&:before{
								content: '';
								background: $secondary-color;
								left: initial;
								width: 110%;
								height: 120px;
							}
						}
						.top{
							margin-bottom: 60px;
							&:before{
								right: -20px;
							}
						}
						.bottom{
							&:before{
								right: -40px;
								top: -10px;
							}
						}
					}
					.text{
						padding-right: 140px;
						width: 80%;
						display: inline-block;
						p{
							margin: 0;
							&.bold {
								margin: 50px 0 10px;
							}
						}
					}
				}
			}

			&.grid{
				max-width: 1150px;
				margin: 0 auto 50px;
				&#two{
					margin-bottom: 0;
				}
				.inline-grid{
					display: inline-grid;
					padding: 10px;
					width: 50%;
					&.one{
						.text{
							background: $secondary-color;
						}
					}
					&.two{
						.text{
							background: $main-color;
						}
					}
					&.three{
						.text{
							background: $third-color;
							.inner{
								.left{
									h2{
										color: white;
									}
								}
							}
						}
					}
					&.four{
						 .text{
							 background: $fourth-color;
						 }
					 }
					.text{
						padding: 50px;
						position: relative;
						overflow: hidden;
						.inner{
							position: absolute;
							top: 30px;
							height: 87%;
							.left{
								width: 40%;
								display: inline-flex;
								flex-direction: column;
								justify-content: space-around;
								height: 100%;
								left: -20px;
								position: relative;
								h2{
									font-family: 'abril_fatfaceregular';
									font-weight: 300;
									font-size: 45pt;
									margin: 0;
								}
								p {
									font-family: 'gubiabold';
									text-transform: uppercase;
									font-weight: 100;
									font-size: 32pt;
									color: white;
									line-height: 52px;
									margin: 0;
								}
								.shop{
									display: inline-block;
									padding: 7.5px 0;
									background: black;
									border: 1px solid white;
									color: white;
									text-transform: uppercase;
									font-family: 'gubiabold';
									font-size: 26pt;
									font-weight: 100;
									text-decoration: none;
									text-align: center;
								}
							}
							.right{
								display: inline-block;
								width: 60%;
								position: absolute;
								bottom: -47px;
								img{
									width: 90%;
									display: block;
									margin: 0 auto;
								}
							}
						}
						&:before{
							content: '';
							display: block;
							padding-top: 100%;
						}
					}
				}
			}
		}
	}
	footer {
		.instagram {
			display: block;
			padding: 40px 0;
			background: #000000;
			.insta_label {
				font-family: 'abril_fatfaceregular';
				font-weight: 300;
				font-size: 24pt;
				color: white;
				display: block;
				margin: 0 auto 30px;
				text-align: center;
			}
			ul {
				list-style: none;
				margin: 0;
				display: flex;
				padding: 0;
				justify-content: space-around;
				max-width: 1200px;
				margin: 0 auto;
				li {
					background: white;
					display: inline-flex;
					width: 19%;
					&:before {
						content: '';
						display: block;
						padding-bottom: 100%;
					}
				}
			}
		}
		.footer_inner {
			display: flex;
			width: 95%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 30px 0;
			.footer_section {
				display: inline-flex;
				&.one {
					width: 50%;
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						li {
							display: block;
							padding: 5px 0;
							a{
								color: black;
								text-decoration: none;
								font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
								font-weight: 500;
								font-size: 11pt;
							}
						}
					}
				}
				&.two{
					display: inline-flex;
					flex-direction: column;
					width: 25%;
					label{
						font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
						font-weight: 500;
						text-transform: uppercase;
						width: 65%;
						margin-bottom: 5px;
					}
					input{
						background: #f2f2f2;
						border: none;
						border-radius: 5px;
						height: 40px;
						padding-left: 15px;
						margin: 5px 0;
						&[type="sign up"]{
							background: transparent;
							border: 3px solid black;
							display: inline-block;
							width: 110px;
							-webkit-border-radius: 10px;
							-moz-border-radius: 10px;
							border-radius: 10px;
							color: black;
							font-size: 10pt;
							text-align: center;
							padding: 0;
							height: 25px;
						}
					}
					.pin_logo{
						width: 60px;
						left: -10px;
						position: relative;
						img{
							width: 100%;
							height: auto;
						}
					}
				}
				&.three {
					display: inline-flex;
					flex-direction: column;
					width: 25%;
					position: relative;
					.footer_logo{
						width: 200px;
						position: absolute;
						right: 0;
						bottom: 0;
						img{
							width: 100%;
							height: auto;
						}
					}
				}
			}
		}
	}
	.credits{
		display: inline-block;
		background: black;
		padding: 15px 0;
		width: 100%;
		color: white;
		.inner{
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 500;
			max-width: 1200px;
			display: block;
			width:95%;
			margin: 0 auto;
			font-size: 9pt;
			a{
				color: white;
			}
		}
	}
}




