@media screen and (max-height: 765px){
  body content .section#banner .bg_image img{width: 115%;height: auto; left: 0;}
}
@media screen and (max-width: 1025px) and (max-height: 765px) {
  body content .section#banner .bg_image img{width: 150%;height: auto; left: -25%;}
}
@media screen and (max-width: 1025px) and (min-height: 765px) {
  body content .section#banner .bg_image img{width: 100%;height: auto; left: 0%;}
}
@media screen and (max-width: 1725px){
  body content .section#banner .bg_image img{width: auto;height: 100%;}
}
@media screen and (max-width: 1475px){
  body content .section#banner .bg_image img{width: 100%;height: auto; left: 0%;}
  body content .section#banner .banner_text{width: 100%;}
  body content .section#banner .banner_text .text{width: 50%;}
}
@media screen and (max-width: 1350px){
  body content .section#banner .bg_image img{width: 115%;left: 0%;}
}
@media screen and (max-width: 1285px){
  body content .section#banner .bg_image img{width: auto;height: 100%;left: 0%;}
  body content .section#banner .banner_text .text{width: 60%;}
}
@media screen and (max-width: 1150px){
  body content .section#five .right{width: 60%;}
  body content .section#five .right .main .top{padding-right: 20px;}
  body content .section#five .right .main .bottom{padding-right: 50px;}
  body content .section#five .right .text{padding-right: 50px;}
  body content .section#five .left .letter{left: 7%;top: 27%;width: 415px;}
  body content .section#five .left .letter {left: 3%;top: 35%;width: 385px;}
}
@media screen and (max-width: 998px){
  body footer .footer_inner .footer_section.one{width: 35%;}
  body footer .footer_inner .footer_section.two{width: 35%;}
}
@media screen and (max-width: 875px){
  body content .section#banner{display:block; min-height: inherit;height: auto;}
  body content .section#banner .bg_image{position: relative;overflow: visible;min-height: inherit;height: auto;}
  body content .section#banner .bg_image img{width: 150%;height: auto; left: -25%;}
  body content .section#banner .banner_text{width: 100%;}
  body content .section#banner .banner_text .text{width: 50%;}
  body content .section#banner .banner_text{margin-top: -115px;}
  body content .section#banner .banner_text .main .top{padding-left: 20px;margin-bottom: 10px;}
  body content .section#banner .banner_text .main .bottom{padding-left: 20px;}
  body content .section#banner .banner_text .text{width: 100%;padding-left: 0;}
  body content .section#banner .banner_text .text p{text-align: center;}
  body content .section#one{height: auto;min-height: inherit;padding: 50px 0;}
  body content .section.grid{display:block;}
  body content .section.grid .inline-grid{width: 85%; display: block; margin:0 auto;}
  body content .section.grid .inline-grid .text .inner .right{bottom: -65px;}
  body content .section#five .left{display:none;}
  body content .section#five .right{width: 100%;}
  body content .section#five .right .text{text-align: center;width: 90%;display: block;margin: 0 auto;padding-right: 0;}
}
@media screen and (max-width:775px){
  body footer .instagram ul{flex-wrap: wrap;justify-content: space-between;width: 90%;}
  body footer .instagram ul li{width: 49%;margin-bottom: 10px;}
  body footer .footer_inner{flex-direction: column;}
  body footer .footer_inner .footer_section.one{width: 100%; text-align: center;}
  body footer .footer_inner .footer_section.one .footer-nav{width: 100%;}
  body footer .footer_inner .footer_section.two{width: 100%; margin: 50px 0 75px; text-align: center;}
  body footer .footer_inner .footer_section.two label{width: 100%;}
  body footer .footer_inner .footer_section.three{width: 100%;}
}
@media screen and (max-width: 625px) {
  body content .section .main{font-size: 65pt;}
}
@media screen and (max-width: 531px) {
  body nav ul{
    display: none;}
}
@media (max-width: 500px){
  body content{display: inline-block;width: 100%;overflow: hidden;}
  body content .section{width: 100% !important;}
  body content .section .main{font-size: 40pt;}
  body content .section#banner .banner_text .main .top{margin-bottom: 5px;}
  body content .section#banner .banner_text .text{width: 95%; display: block; margin: 45px auto 0;}
  body content .section#banner .banner_text .text p{text-align: left;text-indent: 0;}
  body content .section#banner .banner_text .text .icons .icon .i_text:after{display:none;}
  body content .section#one .inner .main{line-height: 60px;}
  body content .section.grid .inline-grid .text{padding: 0;}
  body content .section.grid .inline-grid .text .inner{top: 0;height: 100%;}
  body content .section.grid .inline-grid .text .inner .left{width: 90%;top: 0;left: 5%;margin: 0 auto;height: 95%;}
  body content .section.grid .inline-grid .text .inner .right{display: none;}
  body content .section.grid .inline-grid .text .inner .left .shop{padding: 7.5px 20px;}
  body content .section.grid .inline-grid .text .inner .left p{line-height: 42px;font-size: 30pt;}
  body content .section#five .right .main .top{padding-right: 30px;}
  body content .section#five .right .main .top{margin-bottom: 10px;}
  body content .section#five .right .main .top:before, body content .section#five .right .main .bottom:before{height: 100px;}
  body content .section#five .right .main .bottom{padding-right: 30px;}
  body content .section#five .right .main .top:before{right: -10px;width: 115%;}
  body content .section#five .right .main .bottom:before{right: -10px;top: 5px;}
  body content .section#five .right .text{text-align: left;}
}
@media screen and (min-width: 1475px) and (max-width: 1725px) and (max-height: 765px){
  body content .section#banner .bg_image img{width: 100%;height: auto; left: 0%;}
}
@media screen and (max-width: 1475px) and (min-height: 765px)  {
  body content .section#banner .bg_image img {
    width: 125%;
    height: auto;
    left: 0%;
  }
}
