@media screen and (max-height: 765px) {
  /* line 2, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 115%;
    height: auto;
    left: 0;
  }
}
@media screen and (max-width: 1025px) and (max-height: 765px) {
  /* line 5, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 150%;
    height: auto;
    left: -25%;
  }
}
@media screen and (max-width: 1025px) and (min-height: 765px) {
  /* line 8, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 100%;
    height: auto;
    left: 0%;
  }
}
@media screen and (max-width: 1725px) {
  /* line 11, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 1475px) {
  /* line 14, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 100%;
    height: auto;
    left: 0%;
  }

  /* line 15, ../sass/media.scss */
  body content .section#banner .banner_text {
    width: 100%;
  }

  /* line 16, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 50%;
  }
}
@media screen and (max-width: 1350px) {
  /* line 19, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 115%;
    left: 0%;
  }
}
@media screen and (max-width: 1285px) {
  /* line 22, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: auto;
    height: 100%;
    left: 0%;
  }

  /* line 23, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 60%;
  }
}
@media screen and (max-width: 1150px) {
  /* line 26, ../sass/media.scss */
  body content .section#five .right {
    width: 60%;
  }

  /* line 27, ../sass/media.scss */
  body content .section#five .right .main .top {
    padding-right: 20px;
  }

  /* line 28, ../sass/media.scss */
  body content .section#five .right .main .bottom {
    padding-right: 50px;
  }

  /* line 29, ../sass/media.scss */
  body content .section#five .right .text {
    padding-right: 50px;
  }

  /* line 30, ../sass/media.scss */
  body content .section#five .left .letter {
    left: 7%;
    top: 27%;
    width: 415px;
  }

  /* line 31, ../sass/media.scss */
  body content .section#five .left .letter {
    left: 3%;
    top: 35%;
    width: 385px;
  }
}
@media screen and (max-width: 998px) {
  /* line 34, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 35%;
  }

  /* line 35, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 35%;
  }
}
@media screen and (max-width: 875px) {
  /* line 38, ../sass/media.scss */
  body content .section#banner {
    display: block;
    min-height: inherit;
    height: auto;
  }

  /* line 39, ../sass/media.scss */
  body content .section#banner .bg_image {
    position: relative;
    overflow: visible;
    min-height: inherit;
    height: auto;
  }

  /* line 40, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 150%;
    height: auto;
    left: -25%;
  }

  /* line 41, ../sass/media.scss */
  body content .section#banner .banner_text {
    width: 100%;
  }

  /* line 42, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 50%;
  }

  /* line 43, ../sass/media.scss */
  body content .section#banner .banner_text {
    margin-top: -115px;
  }

  /* line 44, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  /* line 45, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    padding-left: 20px;
  }

  /* line 46, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 100%;
    padding-left: 0;
  }

  /* line 47, ../sass/media.scss */
  body content .section#banner .banner_text .text p {
    text-align: center;
  }

  /* line 48, ../sass/media.scss */
  body content .section#one {
    height: auto;
    min-height: inherit;
    padding: 50px 0;
  }

  /* line 49, ../sass/media.scss */
  body content .section.grid {
    display: block;
  }

  /* line 50, ../sass/media.scss */
  body content .section.grid .inline-grid {
    width: 85%;
    display: block;
    margin: 0 auto;
  }

  /* line 51, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .right {
    bottom: -65px;
  }

  /* line 52, ../sass/media.scss */
  body content .section#five .left {
    display: none;
  }

  /* line 53, ../sass/media.scss */
  body content .section#five .right {
    width: 100%;
  }

  /* line 54, ../sass/media.scss */
  body content .section#five .right .text {
    text-align: center;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-right: 0;
  }
}
@media screen and (max-width: 775px) {
  /* line 57, ../sass/media.scss */
  body footer .instagram ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  /* line 58, ../sass/media.scss */
  body footer .instagram ul li {
    width: 49%;
    margin-bottom: 10px;
  }

  /* line 59, ../sass/media.scss */
  body footer .footer_inner {
    flex-direction: column;
  }

  /* line 60, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 100%;
    text-align: center;
  }

  /* line 61, ../sass/media.scss */
  body footer .footer_inner .footer_section.one .footer-nav {
    width: 100%;
  }

  /* line 62, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 100%;
    margin: 50px 0 75px;
    text-align: center;
  }

  /* line 63, ../sass/media.scss */
  body footer .footer_inner .footer_section.two label {
    width: 100%;
  }

  /* line 64, ../sass/media.scss */
  body footer .footer_inner .footer_section.three {
    width: 100%;
  }
}
@media screen and (max-width: 625px) {
  /* line 67, ../sass/media.scss */
  body content .section .main {
    font-size: 65pt;
  }
}
@media screen and (max-width: 531px) {
  /* line 70, ../sass/media.scss */
  body nav ul {
    display: none;
  }
}
@media (max-width: 500px) {
  /* line 74, ../sass/media.scss */
  body content {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  /* line 75, ../sass/media.scss */
  body content .section {
    width: 100% !important;
  }

  /* line 76, ../sass/media.scss */
  body content .section .main {
    font-size: 40pt;
  }

  /* line 77, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    margin-bottom: 5px;
  }

  /* line 78, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 95%;
    display: block;
    margin: 45px auto 0;
  }

  /* line 79, ../sass/media.scss */
  body content .section#banner .banner_text .text p {
    text-align: left;
    text-indent: 0;
  }

  /* line 80, ../sass/media.scss */
  body content .section#banner .banner_text .text .icons .icon .i_text:after {
    display: none;
  }

  /* line 81, ../sass/media.scss */
  body content .section#one .inner .main {
    line-height: 60px;
  }

  /* line 82, ../sass/media.scss */
  body content .section.grid .inline-grid .text {
    padding: 0;
  }

  /* line 83, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner {
    top: 0;
    height: 100%;
  }

  /* line 84, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .left {
    width: 90%;
    top: 0;
    left: 5%;
    margin: 0 auto;
    height: 95%;
  }

  /* line 85, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .right {
    display: none;
  }

  /* line 86, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .left .shop {
    padding: 7.5px 20px;
  }

  /* line 87, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .left p {
    line-height: 42px;
    font-size: 30pt;
  }

  /* line 88, ../sass/media.scss */
  body content .section#five .right .main .top {
    padding-right: 30px;
  }

  /* line 89, ../sass/media.scss */
  body content .section#five .right .main .top {
    margin-bottom: 10px;
  }

  /* line 90, ../sass/media.scss */
  body content .section#five .right .main .top:before, body content .section#five .right .main .bottom:before {
    height: 100px;
  }

  /* line 91, ../sass/media.scss */
  body content .section#five .right .main .bottom {
    padding-right: 30px;
  }

  /* line 92, ../sass/media.scss */
  body content .section#five .right .main .top:before {
    right: -10px;
    width: 115%;
  }

  /* line 93, ../sass/media.scss */
  body content .section#five .right .main .bottom:before {
    right: -10px;
    top: 5px;
  }

  /* line 94, ../sass/media.scss */
  body content .section#five .right .text {
    text-align: left;
  }
}
@media screen and (min-width: 1475px) and (max-width: 1725px) and (max-height: 765px) {
  /* line 97, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 100%;
    height: auto;
    left: 0%;
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px) {
  /* line 100, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 125%;
    height: auto;
    left: 0%;
  }
}
