/* line 1, ../sass/home.scss */
html {
  padding: 0;
  margin: 0;
  display: block;
  width: 100vw;
}

/* line 7, ../sass/home.scss */
body {
  width: 100%;
  color: black;
  overflow-x: hidden;
  background: white;
  padding: 0;
  margin: 0;
}
/* line 14, ../sass/home.scss */
body nav {
  position: relative;
  z-index: 1;
  width: 90%;
  background: white;
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 23, ../sass/home.scss */
body nav .site-branding {
  display: inline-block;
  width: 200px;
}
/* line 26, ../sass/home.scss */
body nav .site-branding img {
  width: 100%;
  height: auto;
}
/* line 31, ../sass/home.scss */
body nav ul {
  display: inline-flex;
  align-self: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 45%;
}
/* line 39, ../sass/home.scss */
body nav ul li {
  display: inline-block;
  padding: 0 20px;
}
/* line 42, ../sass/home.scss */
body nav ul li a {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 16pt;
}
/* line 54, ../sass/home.scss */
body content .section {
  display: flex;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 600px;
}
/* line 63, ../sass/home.scss */
body content .section .main {
  font-size: 75pt;
  color: black;
  line-height: 100px;
  font-family: 'abril_fatfaceregular';
  font-weight: 300;
}
/* line 69, ../sass/home.scss */
body content .section .main .top, body content .section .main .bottom {
  display: inline-block;
  position: relative;
  z-index: 1;
}
/* line 73, ../sass/home.scss */
body content .section .main .top:before, body content .section .main .bottom:before {
  content: '';
  width: 105%;
  height: 100px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
/* line 84, ../sass/home.scss */
body content .section .main .bottom {
  display: inline-block;
}
/* line 88, ../sass/home.scss */
body content .section p {
  font-size: 18pt;
  line-height: 30px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 100;
}
/* line 93, ../sass/home.scss */
body content .section p.bold {
  font-weight: bold;
  font-family: 'gubiabold';
  text-transform: uppercase;
  font-size: 24pt;
  margin-bottom: 10px;
  text-indent: 0;
}
/* line 102, ../sass/home.scss */
body content .section#banner {
  width: 100vw;
  height: 100vh;
  min-height: 750px;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
/* line 109, ../sass/home.scss */
body content .section#banner .bg_image {
  display: inline-block;
  width: 100%;
  height: 100%;
  min-height: 800px;
  overflow: hidden;
  position: absolute;
  top: 15%;
}
/* line 117, ../sass/home.scss */
body content .section#banner .bg_image img {
  position: relative;
  top: -2.5%;
  display: inline-block;
  width: 100%;
  height: auto;
}
/* line 125, ../sass/home.scss */
body content .section#banner .banner_text {
  position: relative;
  z-index: 1;
  width: 43%;
}
/* line 129, ../sass/home.scss */
body content .section#banner .banner_text .main {
  font-family: 'abril_fatfaceregular';
  font-weight: 300;
}
/* line 132, ../sass/home.scss */
body content .section#banner .banner_text .main .top, body content .section#banner .banner_text .main .bottom {
  padding-left: 50px;
}
/* line 135, ../sass/home.scss */
body content .section#banner .banner_text .main .top {
  padding-left: 50px;
  margin-bottom: 40px;
}
/* line 138, ../sass/home.scss */
body content .section#banner .banner_text .main .top:before {
  content: '';
  background: #66c9ba;
  top: 5px;
}
/* line 144, ../sass/home.scss */
body content .section#banner .banner_text .main .bottom {
  display: inline-block;
}
/* line 146, ../sass/home.scss */
body content .section#banner .banner_text .main .bottom:before {
  content: '';
  background: #66c9ba;
  top: 5px;
}
/* line 153, ../sass/home.scss */
body content .section#banner .banner_text .text {
  margin-top: 45px;
  padding-left: 50px;
}
/* line 156, ../sass/home.scss */
body content .section#banner .banner_text .text p {
  margin: 0 0;
  text-indent: 5px;
}
/* line 159, ../sass/home.scss */
body content .section#banner .banner_text .text p.bold {
  margin-bottom: 10px;
}
/* line 163, ../sass/home.scss */
body content .section#banner .banner_text .text .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}
/* line 168, ../sass/home.scss */
body content .section#banner .banner_text .text .icons .icon {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
}
/* line 174, ../sass/home.scss */
body content .section#banner .banner_text .text .icons .icon:nth-of-type(1) .i_text:after {
  right: -12%;
}
/* line 181, ../sass/home.scss */
body content .section#banner .banner_text .text .icons .icon:nth-of-type(2) .i_text:after {
  right: -20%;
}
/* line 188, ../sass/home.scss */
body content .section#banner .banner_text .text .icons .icon:last-of-type .i_text:after {
  display: none;
}
/* line 193, ../sass/home.scss */
body content .section#banner .banner_text .text .icons .icon img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
/* line 199, ../sass/home.scss */
body content .section#banner .banner_text .text .icons .icon .i_text {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 100;
  flex-direction: column;
  flex-wrap: nowrap;
  display: inline-block;
  margin-top: 20px;
}
/* line 206, ../sass/home.scss */
body content .section#banner .banner_text .text .icons .icon .i_text:after {
  content: '|';
  position: relative;
}
/* line 216, ../sass/home.scss */
body content .section#one {
  position: relative;
  width: 100vw;
  height: 50vh;
  min-height: 500px;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
/* line 224, ../sass/home.scss */
body content .section#one .inner {
  text-align: center;
}
/* line 226, ../sass/home.scss */
body content .section#one .inner .main {
  text-align: center;
}
/* line 228, ../sass/home.scss */
body content .section#one .inner .main .top {
  display: inline-block;
}
/* line 231, ../sass/home.scss */
body content .section#one .inner .main .bottom {
  display: inline-block;
}
/* line 235, ../sass/home.scss */
body content .section#one .inner .text {
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 575px;
  display: block;
  margin: 50px auto 0;
}
/* line 246, ../sass/home.scss */
body content .section#five {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  background-image: url("../img/marble.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
/* line 257, ../sass/home.scss */
body content .section#five .left {
  width: 50%;
  display: inline-block;
}
/* line 260, ../sass/home.scss */
body content .section#five .left .bottle {
  width: 200px;
  position: absolute;
  display: inline-block;
  top: 0;
  transform: rotate(60deg);
}
/* line 266, ../sass/home.scss */
body content .section#five .left .bottle img {
  width: 100%;
}
/* line 270, ../sass/home.scss */
body content .section#five .left .letter {
  width: 475px;
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 22%;
}
/* line 276, ../sass/home.scss */
body content .section#five .left .letter img {
  width: 100%;
}
/* line 281, ../sass/home.scss */
body content .section#five .right {
  text-align: right;
  width: 50%;
  position: absolute;
  right: 0;
}
/* line 287, ../sass/home.scss */
body content .section#five .right .main .top, body content .section#five .right .main .bottom {
  padding-right: 140px;
}
/* line 289, ../sass/home.scss */
body content .section#five .right .main .top:before, body content .section#five .right .main .bottom:before {
  content: '';
  background: #b4b3df;
  left: initial;
  width: 110%;
  height: 120px;
}
/* line 297, ../sass/home.scss */
body content .section#five .right .main .top {
  margin-bottom: 60px;
}
/* line 299, ../sass/home.scss */
body content .section#five .right .main .top:before {
  right: -20px;
}
/* line 304, ../sass/home.scss */
body content .section#five .right .main .bottom:before {
  right: -40px;
  top: -10px;
}
/* line 310, ../sass/home.scss */
body content .section#five .right .text {
  padding-right: 140px;
  width: 80%;
  display: inline-block;
}
/* line 314, ../sass/home.scss */
body content .section#five .right .text p {
  margin: 0;
}
/* line 316, ../sass/home.scss */
body content .section#five .right .text p.bold {
  margin: 50px 0 10px;
}
/* line 324, ../sass/home.scss */
body content .section.grid {
  max-width: 1150px;
  margin: 0 auto 50px;
}
/* line 327, ../sass/home.scss */
body content .section.grid#two {
  margin-bottom: 0;
}
/* line 330, ../sass/home.scss */
body content .section.grid .inline-grid {
  display: inline-grid;
  padding: 10px;
  width: 50%;
}
/* line 335, ../sass/home.scss */
body content .section.grid .inline-grid.one .text {
  background: #b4b3df;
}
/* line 340, ../sass/home.scss */
body content .section.grid .inline-grid.two .text {
  background: #66c9ba;
}
/* line 345, ../sass/home.scss */
body content .section.grid .inline-grid.three .text {
  background: #000000;
}
/* line 349, ../sass/home.scss */
body content .section.grid .inline-grid.three .text .inner .left h2 {
  color: white;
}
/* line 357, ../sass/home.scss */
body content .section.grid .inline-grid.four .text {
  background: #edc5b2;
}
/* line 361, ../sass/home.scss */
body content .section.grid .inline-grid .text {
  padding: 50px;
  position: relative;
  overflow: hidden;
}
/* line 365, ../sass/home.scss */
body content .section.grid .inline-grid .text .inner {
  position: absolute;
  top: 30px;
  height: 87%;
}
/* line 369, ../sass/home.scss */
body content .section.grid .inline-grid .text .inner .left {
  width: 40%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  left: -20px;
  position: relative;
}
/* line 377, ../sass/home.scss */
body content .section.grid .inline-grid .text .inner .left h2 {
  font-family: 'abril_fatfaceregular';
  font-weight: 300;
  font-size: 45pt;
  margin: 0;
}
/* line 383, ../sass/home.scss */
body content .section.grid .inline-grid .text .inner .left p {
  font-family: 'gubiabold';
  text-transform: uppercase;
  font-weight: 100;
  font-size: 32pt;
  color: white;
  line-height: 52px;
  margin: 0;
}
/* line 392, ../sass/home.scss */
body content .section.grid .inline-grid .text .inner .left .shop {
  display: inline-block;
  padding: 7.5px 0;
  background: black;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-family: 'gubiabold';
  font-size: 26pt;
  font-weight: 100;
  text-decoration: none;
  text-align: center;
}
/* line 406, ../sass/home.scss */
body content .section.grid .inline-grid .text .inner .right {
  display: inline-block;
  width: 60%;
  position: absolute;
  bottom: -47px;
}
/* line 411, ../sass/home.scss */
body content .section.grid .inline-grid .text .inner .right img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
/* line 418, ../sass/home.scss */
body content .section.grid .inline-grid .text:before {
  content: '';
  display: block;
  padding-top: 100%;
}
/* line 429, ../sass/home.scss */
body footer .instagram {
  display: block;
  padding: 40px 0;
  background: #000000;
}
/* line 433, ../sass/home.scss */
body footer .instagram .insta_label {
  font-family: 'abril_fatfaceregular';
  font-weight: 300;
  font-size: 24pt;
  color: white;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
}
/* line 442, ../sass/home.scss */
body footer .instagram ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}
/* line 450, ../sass/home.scss */
body footer .instagram ul li {
  background: white;
  display: inline-flex;
  width: 19%;
}
/* line 454, ../sass/home.scss */
body footer .instagram ul li:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/* line 462, ../sass/home.scss */
body footer .footer_inner {
  display: flex;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
/* line 468, ../sass/home.scss */
body footer .footer_inner .footer_section {
  display: inline-flex;
}
/* line 470, ../sass/home.scss */
body footer .footer_inner .footer_section.one {
  width: 50%;
}
/* line 472, ../sass/home.scss */
body footer .footer_inner .footer_section.one ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 476, ../sass/home.scss */
body footer .footer_inner .footer_section.one ul li {
  display: block;
  padding: 5px 0;
}
/* line 479, ../sass/home.scss */
body footer .footer_inner .footer_section.one ul li a {
  color: black;
  text-decoration: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 11pt;
}
/* line 489, ../sass/home.scss */
body footer .footer_inner .footer_section.two {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
}
/* line 493, ../sass/home.scss */
body footer .footer_inner .footer_section.two label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  width: 65%;
  margin-bottom: 5px;
}
/* line 500, ../sass/home.scss */
body footer .footer_inner .footer_section.two input {
  background: #f2f2f2;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding-left: 15px;
  margin: 5px 0;
}
/* line 507, ../sass/home.scss */
body footer .footer_inner .footer_section.two input[type="sign up"] {
  background: transparent;
  border: 3px solid black;
  display: inline-block;
  width: 110px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: black;
  font-size: 10pt;
  text-align: center;
  padding: 0;
  height: 25px;
}
/* line 522, ../sass/home.scss */
body footer .footer_inner .footer_section.two .pin_logo {
  width: 60px;
  left: -10px;
  position: relative;
}
/* line 526, ../sass/home.scss */
body footer .footer_inner .footer_section.two .pin_logo img {
  width: 100%;
  height: auto;
}
/* line 532, ../sass/home.scss */
body footer .footer_inner .footer_section.three {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  position: relative;
}
/* line 537, ../sass/home.scss */
body footer .footer_inner .footer_section.three .footer_logo {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 542, ../sass/home.scss */
body footer .footer_inner .footer_section.three .footer_logo img {
  width: 100%;
  height: auto;
}
/* line 551, ../sass/home.scss */
body .credits {
  display: inline-block;
  background: black;
  padding: 15px 0;
  width: 100%;
  color: white;
}
/* line 557, ../sass/home.scss */
body .credits .inner {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  max-width: 1200px;
  display: block;
  width: 95%;
  margin: 0 auto;
  font-size: 9pt;
}
/* line 565, ../sass/home.scss */
body .credits .inner a {
  color: white;
}

@media screen and (max-height: 765px) {
  /* line 2, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 115%;
    height: auto;
    left: 0;
  }
}
@media screen and (max-width: 1025px) and (max-height: 765px) {
  /* line 5, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 150%;
    height: auto;
    left: -25%;
  }
}
@media screen and (max-width: 1025px) and (min-height: 765px) {
  /* line 8, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 100%;
    height: auto;
    left: 0%;
  }
}
@media screen and (max-width: 1725px) {
  /* line 11, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 1475px) {
  /* line 14, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 100%;
    height: auto;
    left: 0%;
  }

  /* line 15, ../sass/media.scss */
  body content .section#banner .banner_text {
    width: 100%;
  }

  /* line 16, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 50%;
  }
}
@media screen and (max-width: 1350px) {
  /* line 19, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 115%;
    left: 0%;
  }
}
@media screen and (max-width: 1285px) {
  /* line 22, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: auto;
    height: 100%;
    left: 0%;
  }

  /* line 23, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 60%;
  }
}
@media screen and (max-width: 1150px) {
  /* line 26, ../sass/media.scss */
  body content .section#five .right {
    width: 60%;
  }

  /* line 27, ../sass/media.scss */
  body content .section#five .right .main .top {
    padding-right: 20px;
  }

  /* line 28, ../sass/media.scss */
  body content .section#five .right .main .bottom {
    padding-right: 50px;
  }

  /* line 29, ../sass/media.scss */
  body content .section#five .right .text {
    padding-right: 50px;
  }

  /* line 30, ../sass/media.scss */
  body content .section#five .left .letter {
    left: 7%;
    top: 27%;
    width: 415px;
  }

  /* line 31, ../sass/media.scss */
  body content .section#five .left .letter {
    left: 3%;
    top: 35%;
    width: 385px;
  }
}
@media screen and (max-width: 998px) {
  /* line 34, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 35%;
  }

  /* line 35, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 35%;
  }
}
@media screen and (max-width: 875px) {
  /* line 38, ../sass/media.scss */
  body content .section#banner {
    display: block;
    min-height: inherit;
    height: auto;
  }

  /* line 39, ../sass/media.scss */
  body content .section#banner .bg_image {
    position: relative;
    overflow: visible;
    min-height: inherit;
    height: auto;
  }

  /* line 40, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 150%;
    height: auto;
    left: -25%;
  }

  /* line 41, ../sass/media.scss */
  body content .section#banner .banner_text {
    width: 100%;
  }

  /* line 42, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 50%;
  }

  /* line 43, ../sass/media.scss */
  body content .section#banner .banner_text {
    margin-top: -115px;
  }

  /* line 44, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  /* line 45, ../sass/media.scss */
  body content .section#banner .banner_text .main .bottom {
    padding-left: 20px;
  }

  /* line 46, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 100%;
    padding-left: 0;
  }

  /* line 47, ../sass/media.scss */
  body content .section#banner .banner_text .text p {
    text-align: center;
  }

  /* line 48, ../sass/media.scss */
  body content .section#one {
    height: auto;
    min-height: inherit;
    padding: 50px 0;
  }

  /* line 49, ../sass/media.scss */
  body content .section.grid {
    display: block;
  }

  /* line 50, ../sass/media.scss */
  body content .section.grid .inline-grid {
    width: 85%;
    display: block;
    margin: 0 auto;
  }

  /* line 51, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .right {
    bottom: -65px;
  }

  /* line 52, ../sass/media.scss */
  body content .section#five .left {
    display: none;
  }

  /* line 53, ../sass/media.scss */
  body content .section#five .right {
    width: 100%;
  }

  /* line 54, ../sass/media.scss */
  body content .section#five .right .text {
    text-align: center;
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-right: 0;
  }
}
@media screen and (max-width: 775px) {
  /* line 57, ../sass/media.scss */
  body footer .instagram ul {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
  }

  /* line 58, ../sass/media.scss */
  body footer .instagram ul li {
    width: 49%;
    margin-bottom: 10px;
  }

  /* line 59, ../sass/media.scss */
  body footer .footer_inner {
    flex-direction: column;
  }

  /* line 60, ../sass/media.scss */
  body footer .footer_inner .footer_section.one {
    width: 100%;
    text-align: center;
  }

  /* line 61, ../sass/media.scss */
  body footer .footer_inner .footer_section.one .footer-nav {
    width: 100%;
  }

  /* line 62, ../sass/media.scss */
  body footer .footer_inner .footer_section.two {
    width: 100%;
    margin: 50px 0 75px;
    text-align: center;
  }

  /* line 63, ../sass/media.scss */
  body footer .footer_inner .footer_section.two label {
    width: 100%;
  }

  /* line 64, ../sass/media.scss */
  body footer .footer_inner .footer_section.three {
    width: 100%;
  }
}
@media screen and (max-width: 625px) {
  /* line 67, ../sass/media.scss */
  body content .section .main {
    font-size: 65pt;
  }
}
@media screen and (max-width: 531px) {
  /* line 70, ../sass/media.scss */
  body nav ul {
    display: none;
  }
}
@media (max-width: 500px) {
  /* line 74, ../sass/media.scss */
  body content {
    display: inline-block;
    width: 100%;
    overflow: hidden;
  }

  /* line 75, ../sass/media.scss */
  body content .section {
    width: 100% !important;
  }

  /* line 76, ../sass/media.scss */
  body content .section .main {
    font-size: 40pt;
  }

  /* line 77, ../sass/media.scss */
  body content .section#banner .banner_text .main .top {
    margin-bottom: 5px;
  }

  /* line 78, ../sass/media.scss */
  body content .section#banner .banner_text .text {
    width: 95%;
    display: block;
    margin: 45px auto 0;
  }

  /* line 79, ../sass/media.scss */
  body content .section#banner .banner_text .text p {
    text-align: left;
    text-indent: 0;
  }

  /* line 80, ../sass/media.scss */
  body content .section#banner .banner_text .text .icons .icon .i_text:after {
    display: none;
  }

  /* line 81, ../sass/media.scss */
  body content .section#one .inner .main {
    line-height: 60px;
  }

  /* line 82, ../sass/media.scss */
  body content .section.grid .inline-grid .text {
    padding: 0;
  }

  /* line 83, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner {
    top: 0;
    height: 100%;
  }

  /* line 84, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .left {
    width: 90%;
    top: 0;
    left: 5%;
    margin: 0 auto;
    height: 95%;
  }

  /* line 85, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .right {
    display: none;
  }

  /* line 86, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .left .shop {
    padding: 7.5px 20px;
  }

  /* line 87, ../sass/media.scss */
  body content .section.grid .inline-grid .text .inner .left p {
    line-height: 42px;
    font-size: 30pt;
  }

  /* line 88, ../sass/media.scss */
  body content .section#five .right .main .top {
    padding-right: 30px;
  }

  /* line 89, ../sass/media.scss */
  body content .section#five .right .main .top {
    margin-bottom: 10px;
  }

  /* line 90, ../sass/media.scss */
  body content .section#five .right .main .top:before, body content .section#five .right .main .bottom:before {
    height: 100px;
  }

  /* line 91, ../sass/media.scss */
  body content .section#five .right .main .bottom {
    padding-right: 30px;
  }

  /* line 92, ../sass/media.scss */
  body content .section#five .right .main .top:before {
    right: -10px;
    width: 115%;
  }

  /* line 93, ../sass/media.scss */
  body content .section#five .right .main .bottom:before {
    right: -10px;
    top: 5px;
  }

  /* line 94, ../sass/media.scss */
  body content .section#five .right .text {
    text-align: left;
  }
}
@media screen and (min-width: 1475px) and (max-width: 1725px) and (max-height: 765px) {
  /* line 97, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 100%;
    height: auto;
    left: 0%;
  }
}
@media screen and (max-width: 1475px) and (min-height: 765px) {
  /* line 100, ../sass/media.scss */
  body content .section#banner .bg_image img {
    width: 125%;
    height: auto;
    left: 0%;
  }
}
